/* 
    1. télécharger une police  . exp avec dafont
    2. On veut un format ou plusieurs de police passe partout 
        Le pb est de n'avoir que le format eot (microsoft)
    3. Ouvrir https: //www.fontsquirrel.com/
    4. onglet webfont generator
    5.  upload,
        mode basic ou expert
        case à cocher 
    6. On a un dossier zippé avec tout ce qu'il faut
            -  les fonts
            -  le css


*/

@font-face {
    font-family: 'greathyregular';
    src: url('./fonts/greathy_regular-webfont.woff2') format('woff2'),
        url('./fonts/greathy_regular-webfont.woff') format('woff'),
        url('./fonts/greathy_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


p {
    font-family: 'greathyregular';
    font-size: 100px;
}