@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 1200px;
    /* height: 800px; */
    /* alignement flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 4px 15px rgb(164, 164, 164);
}

/* 4 boites  */

.b1 { background: url(./images/1x/healthy-lifestyle-8.png);}
.b2 { background: url(./images/1x/time-fitness-8.png);}
.b3 { background: url(./images/1x/for-life-health-8.png);}
.b4 { background: url(./images/1x/training-today-8.png);}


.b1,.b2, .b3, .b4 {
    width: 23%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

}

/* les 3 span du h1 dans .box */

.box h1 span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}

/* le 1er span de chaque .box */
.box span:nth-of-type(1) {
    font-weight: 900;
    font-size: 40px;
}

.box span:nth-of-type(2) {
    font-weight: 500;
}

.box span:nth-of-type(3){
    font-weight: 800;
    font-size: 26px;
}

.sp1 { color: rgb(158, 98, 8);}
.sp2 { color: rgb(110, 230, 110); }
.sp3 { color: rgb(158, 98, 8); }

.sp4 { color: rgb(4,130, 109);}
.sp5 { color: rgb(20,75,148); }
.sp6 { color: rgb(4,130, 109); }

.sp7 { color: rgb(20,75,148);}
.sp8 { color: rgb(20,75,148); }
.sp9 { color: rgb(20,75,148); }

.sp10 { color: rgb(211, 156, 37);}
.sp11 { color: rgb(255,207,33); }
.sp12 { color: rgb(175, 91, 12); }



